
  .menu{
    
    background: rgba(247, 249, 252, 1);
  }
  .menu__container {
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    background: rgba(247, 249, 252, 1);
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .menu__list{
    list-style: none;
    padding: 30px;
  }
  .menu__title{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.98px;
    text-align: left;
    color: rgba(33, 31, 84, 1);
  }
  .menu__four-text{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    color: rgba(110, 113, 145, 1);
    margin: 20px auto;
  }
  
  .menu__contact{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .menu__frist-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.600000023841858px;
    text-align: left;
    color: rgba(110, 113, 145, 1);
  }
  .menu__next-text{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: left;
    color: rgba(33, 31, 84, 1); 
  }
  hr{
    margin: 10px auto;
  }
  .menu__next-title{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: left;
    color: rgba(33, 31, 84, 1);
    
  }

  .menu__next-list {
    padding: 40px;
    width: 503px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(239, 240, 246, 1)    ;
    box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.04);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
  }
  .menu__input{
    width: 259px;
    height: 42px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(239, 240, 246, 1);
    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
  }
  .menu__next-input{
    width: 321px;
    height: 114px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(239, 240, 246, 1);
    box-shadow: 0px 2px 7px 0px rgba(20, 20, 43, 0.08);
  }
  .menu__next-item{
    width: 551px;
    height: 144px;
  }
  .menu__contact
  
  .menu__title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.98px;
    text-align: left;
    color: rgba(33, 31, 84, 1);
    
  }
  
  .menu__text {
    color: #666;
    line-height: 1.5;
  }
  
  
  .menu__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
     font-size: 18px;
  }
  .menu__form {
    list-style-type: none;
    padding: 0;
  }
  
  .menu__form li {
    margin-bottom: 15px;
  }
  
  .menu__form p {
    margin: 0 0 5px;
  }
  
  .menu__form input[type="text"],
  .menu__form input[type="tel"],
  .menu__form input[type="email"],
  .menu__form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  
  

















  /*=========================================================*/
  @media(max-width:1200px){
    .container{
        width: 1100px;
    }

}
@media(max-width:1120px){
  .container{
      width: 1000px;
  }
}
@media(max-width:1020px){
  .container{
      width: 900px;
  }
  .menu__contact{
    display: block;
  }
}
@media(max-width:920px){
  .container{
      width: 800px;
  }
  .menu__container{
    display: block;
  }
  .menu__contact{
    display: flex;
  }
  .menu__next-list{
    width: 100%;
  }
  .menu__next-item{
    width: 100%;
  }
  
}
@media(max-width:820px){
  .container{
      width: 700px;
  }
  
 
 
}
@media(max-width:720px){
  .container{
      width: 600px;
  }
  
}

@media(max-width:620px){
  .container{
      width: 500px;
  }
  
  

 

}
@media(max-width:520px){
  .container{
      width: 400px;
  }
  .menu__button{
    width: 100%;
  }
  .menu__next-text{
    font-size: 24px;
  }
  .menu__input{
    width: 100%;
  }
  li{
    width: 100%;
  }
  
}
@media(max-width:420px){
  .container{
      width: 300px;
  }
  .menu__title{
    font-size: 34px;
    line-height: 12px;
  }
  .menu__four-text{
    font-size: 18px;
    line-height: 20px;
  }
  .menu__list{
    padding: 0px;
  }
  .menu__button{
    margin-bottom: 20px;
  }
  .menu__btn{
    margin-bottom: -70px;
  }
  .telephone-pic{
    width: 30%;
  }
  .menu__frist-text{
    font-size: 16px;
  }
  .menu__next-text{
    font-size: 20px;
  }
}

@media(max-width:320px){

}
