.hero__container{
    text-align: center;
}
.hero__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px auto;
    flex-wrap: wrap;
}
.hero__btn , .hero__next-btn{
    width: 217px;
    height: 72px;
    border-radius: 14px;
    background: rgba(0, 117, 255, 1);
    font-family: Roboto , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border: none;
    color: rgba(255, 255, 255, 1);
}
.hero__next-list{
    margin-top:40px ;
    display: flex;
    list-style: none;
    justify-content: center;
    gap:20px;
}

.hero__item{
     width: 300px;
     margin-top: 20px;
}
h2{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 700;
    line-height: 57.98px;
    text-align: center;
    color: rgba(33, 31, 84, 1);
} 
.hero__text{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: center;
    color: rgba(110, 113, 145, 1);
    width: 648px;
    height: 61px;
    margin: 10px auto;
    width: 648px;
    height: 61px;
    
}
.hero__lead{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: center;
    color: rgba(33, 31, 84, 1);
    margin-top: 20px;

    
}
.hero__next-text{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: center;
    color: rgba(110, 113, 145, 1);

}













/*=======================================================================================*/
@media(max-width:1200px){
    .container{
        width: 1100px;
    }

}
@media(max-width:1120px){
  .container{
      width: 1000px;
  }
  
}
@media(max-width:1020px){
  .container{
      width: 900px;
  }
  .hero__list{
    justify-content: space-evenly;
  }

  
}
@media(max-width:920px){
  .container{
      width: 800px;
  }
  
}
@media(max-width:820px){
  .container{
      width: 700px;
  }
  
 
 
}
@media(max-width:720px){
  .container{
      width: 600px;
  }
  .hero__text{
    width: auto;
  }
  .hero__pic , .hero__picture , .hero__img , .hero__next-text{
    width: 100%;
  }
  
  
}

@media(max-width:620px){
  .container{
      width: 500px;
  }
  

 

}
@media(max-width:520px){
  .container{
      width: 400px;
  }
  .hero__pic{
    margin-top: 30px;
  }
  .hero__btn , .hero__next-btn{
    width: 100%;
    margin: 10px;
  }
  .hero__next-list{
    display: block;
  }
  
}
@media(max-width:420px){
  .container{
      width: 300px;
  }
  .hero__pic{
    margin-top: 60px;
  }
  
  
  
}

@media(max-width:320px){

}
