.card__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    
}
nav{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.card__item{
    width: 200px;
}

.card__lead{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: left;
    color: rgba(33, 31, 84, 1); 
}
.card__text{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    color: rgba(110, 113, 145, 1);
}
.wrapper{
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-top: 10px;
}
.card__next-lead{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: rgba(33, 31, 84, 1);
    
}
.card__three-lead{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: left;
    color: rgba(0, 117, 255, 1);
}
.card__btn{
    width: 206px;
    height: 52px;
    border-radius: 14px;
    background: rgba(0, 117, 255, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;    
    color: rgba(255, 255, 255, 1);
    border: none;
    margin-top: 10px;
}

























@media(max-width:1200px){
    .container{
        width: 1100px;
    }

}
@media(max-width:1120px){
  .container{
      width: 1000px;
  }
  
}
@media(max-width:1020px){
  .container{
      width: 900px;
  }
  
}
@media(max-width:920px){
  .container{
      width: 800px;
  }
  
}
@media(max-width:820px){
  .container{
      width: 700px;
  }
  
 
 
}
@media(max-width:720px){
  .container{
      width: 600px;
  }
  
}

@media(max-width:620px){
  .container{
      width: 500px;
  }
  
  

 

}
@media(max-width:520px){
  .container{
      width: 400px;
  }
  .card__item{width: 100%;}
  .card__list{
    display: block;

  }
  
}
@media(max-width:420px){
  .container{
      width: 300px;
  }
  .card__btn{
    width: 100%;
  }
}

@media(max-width:320px){

}
